{% load bootstrap3 %}
<div class="item{% if active %} active{% endif %}">
	<img height="600" width="1170" src="{{ src }}" alt="">
   	<div class="carousel-caption">
  		<h3 class="hidden-xs">{{ caption }}</h3>
  		<h5 class="visible-xs">{{ caption }}</h5>
  		{% if not user.is_authenticated %}
  		<p class="visible-lg visible-md">
  			<a href="{% url 'auth_login' %}" class="btn btn-md btn-success">{% bootstrap_icon "log-in" %} Zur Anmeldung</a>
  			<a href="{% url 'registration_register' %}" class="btn btn-md btn-primary">Kostenloses Konto erstellen</a>
  		</p>
  		<p class="visible-sm">
  			<a href="{% url 'registration_register' %}" class="btn btn-md btn-primary">Kostenloses Konto erstellen</a>
  		</p>
  		<p class="visible-xs">
  			<a href="{% url 'registration_register' %}" class="btn btn-sm btn-primary">Kostenloses Konto erstellen</a>
  		</p>
  		{% endif %}
	</div>
</div>