<div class="shoes-list" data-input="{{ input }}">
	<div class="shoes-item">
		<div class="shoes-select-cell">
			<select class="form-control shoes-select">
				<option value=""></option>
			</select>
  		</div>
	  	<div class="shoes-distance-cell">
	  		{# Standardanzeige für Browser außer IE11 und Opera #}
		  	<div class="shoes-distance-default input-group">
		  		<input class="shoes-distance-default shoes-distance form-control numberinput" type="number" min="0" max="999.9999" step="0.0001">
		  		<div class="shoes-distance-default input-group-addon">km</div>
			</div>
			{# Alternative für IE11 und Opera #}
			<input class="shoes-distance-alternative shoes-distance form-control numberinput ie11-shoes-distance-input" type="number" min="0" max="999.9999" step="0.0001">
			<span class="shoes-distance-alternative ie11-shoes-distance-unit">km</span>
			{# Ende der Alternativen #}
	  	</div>
	  	<div class="shoes-buttons-cell">
	  		<div class="btn-group">
		  		<div name="singlebutton" class="shoes_list_add btn btn-xs btn-primary ttt" data-toggle="tooltip" data-placement="auto bottom" data-html="True" title="Weiteres Schuhpaar<br>zur Trainingseinheit<br>hinzufügen"><span class="glyphicon glyphicon-plus"></span></div>
		  		<div name="singlebutton" class="shoes_list_remove btn btn-xs btn-warning ttt" data-toggle="tooltip" data-placement="auto bottom" title="Schuhpaar entfernen"><span class="glyphicon glyphicon-minus"></span></div>
	  		</div>
	  	</div>
	</div>
</div>